// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
}

th {
  padding:0 20px;
  font-size:18px;
}

td {
  padding-bottom: 10px;
 
}
table {
  margin-left: 30px;
  color: brack;
}

h2 {
  margin:20px 30px;
}
.field {
  margin:30px;
 
}

.field-title {
  margin-bottom: 10px;
  
}
.field-body {
  margin-bottom: 10px;
}

a {
  color: black;
}

a:visited {
  colo: gray;
}